body {
  margin: 75px;
}

img {
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
}

h1 {
  margin: 15px 0px;
}

p {
  margin: 10px 0px;
}

.navigation {
  padding: 10px 0px;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: grey;
  padding: 0px 5px;
  margin-right: 10px;
}

a:hover {
  text-decoration: none;
  color: black;
}

.content {
  margin: 45px 0px;
}

.about {
  display: flex;
}

.footer {
  color: grey;
  padding: 10px 0px;
}
